.padding{
    padding: 0 0 48px 0;
}

.bgColor{
    background-color: hsl(240, 67%, 8%);
    background-image: url("./assets/background-stars.svg");
}

.height{
 height: 100vh; 
}

.width{
    width: 100vw; 
   }

   .zIndex{
       position: relative;
       z-index: 50;
   }

   .gridPosition {
    grid-column: 1 / span 12;
    grid-row: 2 / span 6;
  }