.flex {
  display: flex;
  justify-content: space-evenly;
}

.containerHeight {
  height: 45px;
}

.containerWidth {
  width: 45px;
}

.imageWidth {
  width: 100%;
}

.componentGridPosition {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: flex-end;
}

@media (min-width: 764px) {
  .containerHeight {
    height: 100px;
  }

  .containerWidth {
    width: 100px;
  }
}

@media (min-width: 1439px) {
  .containerHeight {
    height: 199px;
  }

  .containerWidth {
    width: 163px;
  }
}
