:root {
  --mercuryColor: #419ebb;
  --venusColor: #eda249;
  --earthColor: #6d2ed5;
  --marsColor: #d14c32;
  --jupiterColor: #d83a34;
  --saturnColor: #cd5120;
  --uranusColor: #1ec1a2;
  --neptuneColor: #2d68f0;
}

.colorWhiteHalf {
  color: rgba(255, 255, 255, 0.5);
}

.colorWhite {
  color: white;
}

.colorBlack {
  color: black;
}

.bgNavy {
  background-color: hsl(240, 67%, 8%);
}

.bgWhite {
  background-color: white;
}

@media (min-width: 764px) {
  .mercuryBG {
    background-color: var(--mercuryColor);
  }
  .venusBG {
    background-color: var(--venusColor);
  }
  .earthBG {
    background-color: var(--earthColor);
  }
  .marsBG {
    background-color: var(--marsColor);
  }
  .jupiterBG {
    background-color: var(--jupiterColor);
  }
  .saturnBG {
    background-color: var(--saturnColor);
  }
  .uranusBG {
    background-color: var(--uranusColor);
  }
  .neptuneBG {
    background-color: var(--neptuneColor);
  }
}
